// colors
$brand-color: #cf215b;
$brand-dark-color: #2c0713;
$brand-light-color: #d33c6f;

$grey-dark-color: #4f4f4f;
$grey-light-color: #f5f5f5;

$black02-color: #484848;
$black03-color: #d3d3d3;
$black04-color: #ececec;
$black05-color: #fafafa;

$black-color: #000000;
$white-color: #ffffff;

//sizes
$big-title-size: 1.5rem;
$medium-title-size: 1.25rem;
$small-title-size: 1rem;

$default-text-size: 1rem;
$medium-text-size: 0.875rem;
$small-text-size: 0.75rem;
$super-small-text-size: 0.625rem;

// weights
$regular-weight: 400;
$bold-weight: 700;
