@use "./abstracts/variables" as *;

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;

    font: inherit;

    font-family: "DM Sans", sans-serif;

    vertical-align: baseline;

    cursor: default;
}
html,
border-style,
#root {
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;
}

body {
    background-color: $white-color;

    overflow-x: hidden;

    line-height: 1;
}
ul,
ol {
    list-style: none;
}
input {
    cursor: text;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
}

#root {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;

    > div {
        width: 100%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
